{# Course Footer #}
<div class="footer">
    <div class="container">
        <hr class="clear">
        <p class="version-stamp">Brought to you by the WCHN Digital Media e-Learning Team - &copy; {{ "now" | date('Y') }} </p>
    </div>
</div>
{# Jquery-UI #}
<script src="{{ constants.base_js }}jquery-ui.min.js"></script>
<script src="{{ constants.base_js }}jquery.ui.touch-punch.min.js"></script>
{# Bootstrap 2.3 JS #}
<script src="{{ constants.base_js }}scriptsV3/bootstrap.min.js"></script>
{# Audio JS #}
<script src="{{ constants.base_url }}plugins/audiojs/audiojs/audio.min.js"></script>