{# LMS Menu #}
<div class="lmsmenu">
    <div class="lmsmenuleft">
        {% if version == 1 %}
            <i class="icon-home"></i> <a href="{{ wwwroot }}"> Home</a> <i class="icon-double-angle-right"></i> <i class="icon-tasks"></i><a href="{{ wwwroot }}/course/view.php?id={{ course_id }}"> {{ fullname }}</a>
            {% else %}
            <i class="fa fa-home"></i> <a href="{{ wwwroot }}"> Home</a> <i class="fa fa-angle-double-right"></i> <i class="fa fa-tasks"></i><a href="{{ wwwroot }}/course/view.php?id={{ course_id }}"> {{ fullname }}</a>
            {% endif %}
    </div>
    <div class="lmsmenuright">
        You are logged in as {{ first_name }} {{ last_name }} (<a href=" {{ wwwroot }}/login/logout.php">Log out</a>)
    </div>
</div>
{# Style for lmsmenu #}
<style>.lmsmenu{background:#F5F5F5;padding:8px 0;box-shadow:0 3px 5px #8A8A8A;float:left;width:100%}.lmsmenuleft{float:left;padding-left:20px}.lmsmenuright{float:right;padding-right:20px}.lmsmenu img{vertical-align:inherit}</style>