{# Page to show if course must be reset #}
<!DOCTYPE html>
{# Find the course version #}
{% set version = course_data.configuration.course_version %}
{% if version is not defined or version is empty %}
    {% set version = 1 %}
{% endif %}
{# HTML tag #}
{% include 'views/subviews/html.twig' %}
<head>
{# set vars #}
{% set coursepath = page_data.data.cert_data.course_path %}
{# header #}
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta charset="utf-8">
{# CSS #}
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{{ constants.base_css }}main_v2.css">
{# jQuery UI Bootstrap Theme #}
<link rel="stylesheet" href="{{ constants.base_css }}jquery-ui-for-bootstrap.css">
{# Font Awesome 4.2.0 #}
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
{# Course CSS #}
{% for css in  course_data.course_css %}
    <link rel="stylesheet" type="text/css" href="{{ css }}">
{% endfor %}
{# jQuery #}
<script src="{{ constants.base_js }}jquery.min.js"></script>
{# Utility Scripts #}
<script src="{{ constants.base_js }}modernizr.custom.min.js"></script>
{# Routes #}
<script src="{{ constants.base_js }}util/routes.min.js"></script>
<script src="{{ constants.base_js }}util/util.min.js"></script>
{# Course scripts #}
<script src="{{ course_constants.course_js }}script.min.js"></script>
<script>
{# Rewire, remap, retina.js, reset btn #}
{% include 'views/js/template.min.js' %}
</script>
{# Dependancy Scripts #}
{% if course_data.configuration.dependancy_scripts is defined %}
    {% for dscript in course_data.configuration.dependancy_scripts %}
        <script src="{{ constants.base_js }}{{ dscript.path }}/{{ dscript.script }}.js"></script>
    {% endfor %}
{% endif %}
{# Base Scripts #}
{% for bscript in course_data.configuration.base_scripts %}
    <script src="{{ constants.base_js }}{{ bscript.path }}/{{ bscript.script }}.js"></script>
{% endfor %}
{# Page Scripts #}
{% if course_data.configuration.page_scripts is defined %}
    {% for pscript in course_data.configuration.page_scripts %}
        {% if  module == pscript.module and page == pscript.page %}
            <script src="{{ course_constants.course_js }}{{ pscript.script }}"></script>
        {% endif %}
    {% endfor %}
{% endif %}
{# Course JS #}
<script src="js/dmelearn.min.js"></script>
</head>
<body style="padding-top:0px; background-color: #f9f9f9;" id="course-controller" class="mdl-dmelearn-forcereset">
{% spaceless %}
{% include 'views/subviews/lmsmenu.twig' %}
{# Shell #}
    {% include 'views/subviews/requires_reset.twig' %}
{# Footer #}
{% include 'views/2/footer.twig' %}
{% endspaceless %}
</body>
</html>